*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    transition: all .5s;
}

body{
    color: #fff !important;
    background-color: #212529!important;
}

header{
    background: rgba(17, 24, 39, 1)!important;
}

.navbar .navbar-brand{
    font-size: 1.7rem;
}

.nav-link{
    font-size: 1.2rem;
}

footer{
    margin-top: 70px;
}

footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(142, 169, 173);
}

.alert{
    position: absolute!important;
    top: 10%;
    left: 25%;
    width: 50%;
    display: none;
}

section{
    width: 95%;
    margin: 20px auto 0;
}

.prediction_form{
    width: 60%;
}

#myform{
    margin: 0 auto;
    width: 90%;
    padding: 5px 60px;
}

.result{
    width: 40%;
    text-align: left!important;
}

.result #prediction_container{
    text-align: center!important;
    -webkit-animation: jello-horizontal 0.9s 0.5s both;
	        animation: jello-horizontal 0.9s 0.5s both;
}

 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}
  

.display_image{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover!important;
    border-radius: 40px;
    background: #212529;
    box-shadow:  10px 10px 20px #191c1f,
                -10px -10px 20px #292e33;
}

#img_input{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
  
.input_control label {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(40deg,#191c1f,#212529);
    box-shadow: 7px 7px 14px #191c1f,
                7px -7px 14px #292e33;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}
  
input#img_input:hover + .input_control label,
input#img_input:focus + .input_control label {
    transform: scale(1.01);
}
  
input#img_input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}

.btn-submit{
    border-radius: 40px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2)!important;
    color: #fff!important;
    background: linear-gradient(40deg,#191c1f,#212529);
    box-shadow: 7px 7px 14px #191c1f,
                7px -7px 14px #292e33;
    transition: all 0.5s ease;
}

@media (max-width: 767px){
    .alert{
        width: 65%;
    }

    .display_image{
        height: 260px!important;
    }

    .prediction_form{
        margin: 0 auto;
        width: 94%!important;
    }

    .result{
        margin: 0 auto;
        width: 94%!important;
        text-align: center!important;
    }

    footer{
        margin-top: 40px;
    }    
}

@media (max-width: 500px) {
    .navbar .navbar-brand{
        font-size: 1.4rem;
    }
    
    .nav-link{
        font-size: 1rem;
    }

    section .heading{
        font-size: calc(1.1rem + .9vw)!important;
    }

    .prediction_form{
        width: 98%!important;
    }

    #myform{
        width: 100%!important;
    }

    .result{
        width: 98%!important;
    }

    .result .instructions p{
        font-size: .89rem;
    }
    
    .result .prediction_container{
        font-size: 1rem;
    }
    
    footer{
        margin-top: 50px;
    }

}
